.user-card p {
    font-size: 14px;
    text-align: justify;
}

.user-card {
    background-color: lightskyblue;
    width: 70%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.not-active h6 {
    color: black;
}
